<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@//52.87.1.4:1521/dbpres"/>
                <property name="username" value="DEVYHS"/>
                <property name="password" value="Ax440tzBkV64"/>
            </dataSource>
        </environment>
            
        <environment id="preproduccion">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@//52.87.1.4:1521/dbpres"/>
                <property name="username" value="DEVYHS"/>
                <property name="password" value="Ax440tzBkV"/>
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
            <package name="com.yhs.patient.mapper"/>
            <package name="com.yhs.patient.query.mapper"/>
            <package name="com.yhs.record.patient.mapper"/>
            <package name="com.yhs.advice.mapper"/>
            <package name="com.yhs.catalog.mapper"/>
            <package name="com.yhs.health.tip.mapper"/>
            <package name="com.yhs.questionary.mapper"/>
            <package name="com.yhs.service.query.mapper"/>
            <package name="com.yhs.user.query.mapper"/>
            <package name="com.yhs.patient.query.mapper"/>
    </mappers>
</configuration>
